<div class="container" style="align-content: center;">
    <div class="row">
        <div class="card col-sm-12 col-md-6 col-lg-4 margin-top">
            <div class="profile-pic" (mouseenter)="showUploadButton = !showUploadButton"
                (mouseleave)="showUploadButton = !showUploadButton">
            </div>
            <button type="button" class="btn btn-success" (click)="logoutUser()">Logout</button>
            <div class="card-body">
                <h4 class="card-title">User Name: {{userProfile.user.userName}}</h4>
                <p class="card-text">Name :{{userProfile.user.firstName}} {{userProfile.user.lastName}}</p>
                <p class="card-text">Email: {{userProfile.user.email}}</p>
                <p class="card-text">Mobile: {{userProfile.user.mobile}}</p>
                <p class="card-text">Age : {{userProfile.user.age}}</p>
                <p class="card-text">City : {{userProfile.user.city}}</p>
                <!-- <p class="card-text">DOB : {{userProfile.user.dob}}</p> -->
                <div class="row">
                    <a class="btn btn-primary" (click)="onSelect(userProfile.user)" role="button">Edit Profile</a>
                    
                    <!-- <a class="btn btn-dark col margin" routerLink="/password" role="button">Change Password</a> -->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="clo-md-6">
        <app-update-user  *ngIf="isOpen"></app-update-user>
    </div>
</div>