 <div class="container">

    <form class="well form-horizontal">
      <fieldset>
  
        <legend>
            <h2><b>Update Password Form</b></h2>
        </legend><br>
     
        <div class="form-group">
          <label class="col-md-4 control-label">Old Password</label>
          <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
              <input       
               placeholder="Old Password" class="form-control"
               type="password" #oldPassword>
            </div>
          </div>
        </div>          
  
        <div class="form-group">
          <label class="col-md-4 control-label">New Password</label>
          <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
              <input  
              placeholder="New Password" class="form-control"
              type="password" #newPassword>
            </div>
          </div>
        </div>
  
        <div class="form-group">
            <label class="col-md-4 control-label">Confirm Password</label>
            <div class="col-md-4 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                <input 
                 placeholder="Confirm Password" class="form-control"
                 type="password" #confirmPassword>
              </div>
              <label style="color: red;">{{showError}}</label>
            </div>
          </div>          
        <div class="form-group">
          <label class="col-md-4 control-label"></label>
          <div class="col-md-4"><br>
           <button type="Button" 
              class="btn btn-success" [disabled]="" (click)="updatePassword()" >Update Password<span
                class="glyphicon glyphicon-send"></span></button>
          </div>
        </div>
  
      </fieldset>
    </form>
  </div>
  